body{
    background-image: url('https://images.unsplash.com/photo-1707343843344-011332037abb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')  ;
    background-repeat: no-repeat;
  
    
}
.container{
    background-color: rgba(250, 234, 234, 0.32) !important;
    max-width: 1200px;
  /* margin: 0 auto; */
  padding: 10px;
  
  

    
}
.navbar ul li a {
    color: rgb(245, 239, 239) !important;
    margin-left: 50px;
    
}
.navbar-brand{
    color: white !important;
}
.btn{
    color: rgb(248, 238, 238) !important;
    border-color:red ;
    background-color: grey;
    width: 90px;
    border-radius: 10px;
    font-size: small;
    padding: 5px;
    margin-right: 60px;
}
